
mixin page(url,img,title)
  a.page-thumbnail-link(href='#{url}')
    .page-thumb
      img(src='https://osmose-it.s3.amazonaws.com/#{img}/_.jpg')
    .page-info
      .title=title
      .details
        block

mixin video(url,img,title)
  a.video-thumbnail-link(href='#{url}')
    .page-thumb
      img(src='https://osmose-it.s3.amazonaws.com/#{img}/_.jpg')
    .page-info
      .title=title
      .details
        block

h2#Thorax 1. Thorax
.chapterContents
  h3 Overview
  .sectionContents
    +page('/anatomy/Thorax/Chest','Tf3bRhI8SMqFUrnDGHJC_TuvRfGPT6TT','Chest')
      p Pectoralis major, Pectoralis minor, Corachobrachialis, Subclavius, Serratus anterior
    +page('/anatomy/Thorax/Thoracic_Wall','YfXLcYB2Q62rJM1tb9yqkNYuTySfErUN','Thoracic Wall')
      p Scalene, Internal intercostals, External intercostals, Transversus thoracis
    +page('/anatomy/Thorax/Thoracic_Wall-Diaphragm','k_kmztQJTMW3y0YPFA0rYXHnT9u5hLYv','Thoracic Wall - Diaphragm')
      p Diaphragm
    +page('/anatomy/Thorax/Thoracic_Cavity-Arterial','Zrp6cDXVSayiq6VCRSVwidImTDGoIa4O','Thoracic Cavity - Arterial Branches')
      p Aorta, Common carotid artery, Subclavian artery, Internal thoracic artery, Brachiocephalic artery, Vertebral artery,
    +page('/anatomy/Thorax/Thoracic_Cavity-Venous','slnM5rEEREWyr46V0pDQS4AVTXKyI9Bv','Thoracic Cavity - Venous Branches')
      p Internal Jugular vein, Brachiocephalic vein, Inferior vena cava, Internal thoracic vein, Azygos vein, Hemiazygos vein
    +page('/anatomy/Thorax/Heart+Lungs','tZm-uQgzRWe9xM_LXYGM7wx-QrulJAxd','Heart & Lungs')
      p Right atrium, Right ventricle, Left atrium, Left ventricle
    +page('/anatomy/Thorax/Heart-Structure','KDRFX_UES3SZ7xvkf8BKfTaHTAK8QbsV','Heart - Structure')
      p Pulmonary arterial trunk, Aorta, Superior vena cava, Inferior vena cava
    +page('/anatomy/Thorax/Heart-Blood_Supply','Rz8u6HflScKAMaX1xYwA6IkBTuuaAH3j','Heart - Blood Supply')
      p Left anterior descending, Left circumflex, Great cardiac vein, Coronary sinus, Right coronary artery, Anterior cardiac vein, Small cardiac vein, Posterior Descending, Middle cardiac vein

h2#Abdomen 2. Abdomen
.chapterContents
  h3 Overview
  .sectionContents
    +video('/anatomy/Abdomen/Abdominal_Wall','leHWxcVgRrqZN2-M4OCdz_UlRHS4rdva','Abdominal Wall')
      p Youtube
    +video('/anatomy/Abdomen/Inguinal_Canal','oVSM6EgsSner9Yb8l2W_AnXwRRWA8dVE','Inguinal Canal')
      p Youtube
    +page('/anatomy/Abdomen/Vasculature-Celiac_Trunk','nmM4yC46T22Q9VKyBobsrjC1QtqKnIdZ','Vasculature - Celiac Trunk')
      p Left gastic artery, Common hepatic artery, Splenic artery, Proper hepatic artery, Right gastric artery, Gastroduodenal artery, Dorsal pancreatic artery, Left gastro-omental artery
    +page('/anatomy/Abdomen/Vasculature-Other_Vessels','0SLm-BfqQciSB-TLhDuaPjv3SHqFuNxK','Vasculature - Other Vessels')
      p Superior mesenteric artery, Testicular/ovarian artery, Inferior mesenteric artery, Common iliac artery, Lumbar artery, Renal artery, Middle suprarenal artery
h2#Pelvis 3. Pelvis
.chapterContents
  h3 Overview
  .sectionContents
    +page('/anatomy/Pelvis/Bony_Pelvis','tvc8khoORTGm9Avjtyk_q5VpRB2lNTM1','Bony Pelvis')
      p Iliac crest, Ischial tuberosity, Anterior superior iliac spine, Pubic tubercle, Acetabulum, Ischial spine
    +page('/anatomy/Pelvis/Pelvic_Floor','3_JigF2EReufGrCT7q8FJpNISMyJ14EG','Pelvic Floor')
      p Pubococcygeus, Illiococcygeus, Puborectalis, Levator ani
    +page('/anatomy/Pelvis/Internal_Organs','Hrfz7qJVQRC_pkFyq8pkJLSRSp2ndc-F','Internal Organs')

h2#Lower_Limbs 4. Lower Limbs
.chapterContents
  h3 Overview
  .sectionContents
    +page('/anatomy/Lower_Limbs/Hip','xrzdpeH5SUmFd2jiIo-aiFIbR4OgpR8L','Hip')
      p Iliopsoas, Gluteus maximus, Gluteus medius, Gluteus minimus, Piriformis, Obturator internus, Gemelli, Quadratus femoris
    +page('/anatomy/Lower_Limbs/Thigh-Medial_Superficial','utq3rMjWSXaqEwGjzyQ8v7mRRiWk6Wjl','Thigh - Medial Superficial Layer')
      p Pectineus, Adductor longus, Adductor brevis, Gracilis
    +page('/anatomy/Lower_Limbs/Thigh-Medial_Deep','m3pqVmCzTl2J1zY79dzk3s3sR9W57Nxc','Thigh - Medial Deep Layer')
      p Obturator externus, Adductor minimus, Adductor magnus
    +page('/anatomy/Lower_Limbs/Thigh-Anterior','hnrq-M8CTNmF3JCIjwVLznnAQDmDBIXS','Thigh - Anterior Group')
      p Sartorius, Rectus femoris, Vastus medialis, Vastus lateralis, Vastus intermedius, Articularis genus
    +page('/anatomy/Lower_Limbs/Thigh-Posterior','7qxb7PTWRf6gy1sLJiRBYs3CSHy5Sm1S','Thigh - Posterior Group')
      p Biceps femoris, Semimembranosus, Semitendinosus
    +page('/anatomy/Lower_Limbs/Leg-Lateral','J1Gdsl0_TWOsEcrKpqw2dXtSSKiXZVag','Leg - Lateral Group')
      p Fibularis longus, Fibularis brevis
    +page('/anatomy/Lower_Limbs/Leg-Anterior','GP-Q1EuhRoup55ySQ3lf7USrS4_Lw2r4','Leg - Anterior Group')
      p Tibialis anterior, Extensor hallucis longus, Extensor digitorum longus, Fibularis tertius
    +page('/anatomy/Lower_Limbs/Leg-Posterior_Superficial','Ib9TqaRUS12VY1FooPjbrcZVRKO2Gp2t','Leg - Posterior Superficial Group')
      p Gastrocnemius, Soleus, Plantaris
    +page('/anatomy/Lower_Limbs/Leg-Posterior_Deep','XutlJ8qlRRSfJCHcLdQnklXNTVuNf-2R','Leg - Posterior Deep Group')
      p Tibialis posterior, Flexor digitorum longus, Flexor hallucis longus, Popliteus
    +page('/anatomy/Lower_Limbs/Foot-Bones','RdFKmPSwTWOgSgPqEocMEd34RvWWrgaG','Foot - Bones')
      p Calcaneus, Talus, Navicular bone, Cuneiform bones, Cuboid, Metatarsal, Phalanges of the Foot
    +page('/anatomy/Lower_Limbs/Foot-Dorsum-Intrinsic','CGWVNcFLTtOn24436Sway7IKTVqYnK7e','Foot - Dorsum - Intrinsic')
      p Extensor digitorum brevis, Extensor hallucis brevis
    +page('/anatomy/Lower_Limbs/Foot-Sole-Superficial_Intrinsic','UXvoHe_BQeGXAMcGiBcMigpqTqKgK5tu','Foot - Sole - Superficial Intrinsic')
      p Flexor digitorum brevis, Abductor digiti minimi
    +page('/anatomy/Lower_Limbs/Foot-Sole-Deep_Intrinsic','kTJ7W-dQQcuVQdI202ZYvthrQZiZ9aN2','Foot - Sole - Deep Intrinsic')
      p Flexor hallucis brevis, Flexor digiti minimi brevis, Lumbricals, Plantar interossei

h2#Upper_Limbs 5. Upper Limbs
.chapterContents
  h3 Overview
  .sectionContents
    +video('/anatomy/Upper_Limbs/Brachial_Plexus','dg4yDAHCRZmszoE-cPQ5DT5pToOCqMWY','Brachial Plexus')
      p Youtube
    +page('/anatomy/Upper_Limbs/Shoulder-Bones','EXAGhdGLSCiwJ4-C7tZWUBJrRGigg7qa','Shoulder - Bones')
      p Scapula, Coracoid, Acromion, Greater tubercle, Lesser tubercle
    +page('/anatomy/Upper_Limbs/Shoulder-Muscles','tg1YztEfTq61pHarzAv4XybHSWS9FTv3','Shoulder - Muscles')
      p Deltoid, Supraspinatus, Infraspinatus, Teres minor, Subscapularis
    +page('/anatomy/Upper_Limbs/Upper_Arm-Anterior','t1dSWdMsTaCGRIRrttuv5qizTxaYq5Hr','Upper Arm - Anterior Group')
      p Biceps brachii, Brachialis
    +page('/anatomy/Upper_Limbs/Upper_Arm-Posterior','YCON8Q_5R8Sba_DvOlPocaQOS5G3cC36','Upper Arm - Posterior Group')
      p Triceps brachii, Anconeus
    +page('/anatomy/Upper_Limbs/Forearm-Anterior_Superficial','Im3uhfhOTdaIIVRR_mXUEmeiQweFxWOC','Forearm - Anterior Superficial Group')
      p Pronator teres, Flexor carpi radialis, Palmaris longus, Flexor carpi ulnaris
    +page('/anatomy/Upper_Limbs/Forearm-Anterior_Intermediate','BVPw0stsQ5uY-rNUe4I_H8Y_QEmRaPaJ','Forearm - Anterior Intermediate Group')
      p Flexor digitorum superficialis
    +page('/anatomy/Upper_Limbs/Forearm-Anterior_Deep','EgLZZU5dSu_pJs8RsVf59moMQMGy6Bw_','Forearm - Anterior Deep Group')
      p Flexor digitorum profundis, Flexor pollicis longus, Pronator quadratus
    +page('/anatomy/Upper_Limbs/Forearm-Posterior_Radialis','ecAPdS9mQaiaxRSGWlXS5-KhTDqnvL_5','Forearm - Posterior Radialis Muscles')
      p Brachioradialis, Extensor carpi radialis longus, Extensor carpi radialis brevis
    +page('/anatomy/Upper_Limbs/Forearm-Posterior_Superficial','CDLAHGpXQUKzluUBTHHXe92bRaOOfWxK','Forearm - Posterior Superficial Group')
      p Extensor digitorum, Extensor digiti minimi, Extensor carpi ulnaris
    +page('/anatomy/Upper_Limbs/Forearm-Posterior_Deep','DQcgraibRpCiWysJVWcubSVIQki3oWNX','Forearm - Posterior Deep Group')
      p Supinator, Abductor pollicis longus, Extensor pllicis brevis, Extensor pollicis longus, Extensor indicis
    +page('/anatomy/Upper_Limbs/Hand-Bones','-sGBV7ifQB2mb3aLphOyHgbJRSqL3sSl','Hand - Bones')
      p Scaphoid, Trapezium, Trapezoid, Capitate, Hamate, Lunate, Pisiform, Triquetrum, Metacarpals, Phalanges of the Hand
    +page('/anatomy/Upper_Limbs/Hand-Thenar','MVCpwjP3Q7CnQcmAGjffoT9XQmOsV_Q_','Hand - Thenar Group')
      p Adductor pollicis, Adductor pollicis brevis, Flexor pollicis brevis, Opponens pollicis
    +page('/anatomy/Upper_Limbs/Hand-Hypothenar','1EsodoZaTOm8q92G7M0sOL1tSKquxpEp','Hand - Hypothenar Group')
      p Opponens digiti minimi, Flexor digiti minimi brevis, Abductor digiti minimi
    +page('/anatomy/Upper_Limbs/Hand-Metacarpal','YO8v0-aFQRiu2NPApioP0hDzT_yeyVBL','Hand - Metacarpals')
      p Palmar interossei, Dorsal interossei, Lumbricals

h2#Back 6. Back
.chapterContents
  h3 Overview
  .sectionContents
    +page('/anatomy/Back/Craniovertebral_Muscles','thtlyNXMSze_4kv47ZDvmBr-RX6qkzlg','Craniovertebral Muscles')
      p Obliquus capitis inferior, Obliquus capitis superior, Rectus capitis posterior minor, Rectus capitis posterior major
    +page('/anatomy/Back/Paravertebral_Muscles','8SChNrRwS3apjFbBeChqCVObSwife9uR','Paravertebral Muscles')
      p Rectus capitis lateralis, Rectus capitis anterior, Longus capitis, Longus colli
    +page('/anatomy/Back/Superficial_Muscles','faTITe4bT-Gosf4xJKrx19E3Rtez1Dvo','Superficial Intrinsic Muscles')
      p Serratus posterior superior, Splenius cervicis, Splenius capitis, Serratus posterior inferior
    +page('/anatomy/Back/Intermediate_Muscles','u7LERfqFQ-Wc_BZvgK2DxhytSq2bIpPI','Intermediate Intrinsic Muscles')
      p Iliocostalis thoracis, Longissimus thoracis, Iliocostalis lumborum, Iliocostalis cervicis, Longissimus cervicis, Longissimus capitis
    +page('/anatomy/Back/Transversospinalis_Muscles','6wFdyrVYQbySM13if7HtgX5yTSyOOccM','Transversospinalis Muscles')
      p Rotatores, Semispinalis thoracis, Semispinalis capitis, Semispinalis cervicis
h2(id='Head+Neck') 7. Head & Neck
.chapterContents
  h3 Overview
  .sectionContents
    +page('/anatomy/Head+Neck/Neck-Superficial','zy7s7qobTAGiE1peoNyA2XKCThy2HUMO','Neck - Superficial')
      p Trapezius, Sternocleidomastoid, Platysma
    +page('/anatomy/Head+Neck/Neck-Suprahyoid','lmHGuHPDSO63Ebz_BhRN4mjUQVuzqVp2','Neck - Suprahyoid')
      p Digastric, Stylohyoid, Mylohyoid, Geniohyoid
    +page('/anatomy/Head+Neck/Neck-Infrahyoid','uo639aqmQhu9TDX5sun7ORqDSaC_6cOU','Neck - Infrahyoid')
      p Omohyoid, Sternothyroid, Sternohyoid, Thyrohyoid
    +page('/anatomy/Head+Neck/Skull-Bones','KISpRwU7RjKaT8Fi5GtgceC6T5W84quH','Bones of the Skull')
      p Frontal bone, Parietal bone, Temporal bone, Sphenoid, Zygomatic, Mandible, Maxilla, Ethmoid, Lacrimal bone, Nasal bone, Vomer, Palatine bone, Occipital bone
    +video('/anatomy/Head+Neck/Facial_Muscles','tahPPe8kRZyydcsm-9OOUHkTTyG3hBRm','Muscles of Facial Expression')
      p Youtube
    +video('/anatomy/Head+Neck/Mastication','5WhUeh9NQMSXVT6BTrIbgajfS4uI2Iuy','Muscles of Mastication')
      p Youtube
    +page('/anatomy/Head+Neck/Cranial_Arteries','3X4oA4FvS5G5kxx5j701r3aiSFCUbfIx','Cranial Arteries')
      p Anterior cerebral artery, Anterior communicating artery, Middle cerebral artery, Posterior cerebral artery, Ophthalmic artery, Internal carotid artery, Posterior communicating artery, Basilar artery, Superior cerebellar artery, Anterior inferior cerebellar artery, Vertebral artery, Anterior spinal artery, Posterior inferior cerebellar artery
h2#Cranial_Nerves 8. Cranial Nerves
.chapterContents
  .fwb Please Note: The Cranial Nerves section is still under construction.
  h3 Overview
  .sectionContents
    +page('/anatomy/Cranial_Nerves/II','7YKUgiJESY_NWxGu7Y5sBdv-TTyycUBc','II - Optic Nerve')
    +page('/anatomy/Cranial_Nerves/III','BaHwW7D6TZyELW9KI_ORO77-QtSORa1B','III - Oculomotor Nerve')
    +page('/anatomy/Cranial_Nerves/IV','xkIQszcxRk_6RSO44tAlWw7fQ-SS0tyx','IV - Trochlear Nerve')
    +page('/anatomy/Cranial_Nerves/V1','BYQyqQqESSqTEpabGaQvvG_0T4GYzrdq','V1 - Trigeminal - Ophthalmic branch')
    +page('/anatomy/Cranial_Nerves/VI','4mpcPYk0Stu82EWazHUVXLhvSPKrlNTy','VI - Abducens')
    h5 To Do
    h4
      div(href='/anatomy/Cranial_Nerves/V2') V1 - Trigeminal - Maxillary branch
    h4
      div(href='/anatomy/Cranial_Nerves/V3') V1 - Trigeminal - Mandibular branch
    h4
      div(href='/anatomy/Cranial_Nerves/V3') VII - Facial

div This atlas was created by members of the Osmosis team using mesh data from BodyParts3D, (c) The Database Center for Life Science licensed under CC Attribution-Share Alike 2.1 Japan

